autom4te.cache/*
autotools/build-aux/*
autotools/m4/lt*.m4
autotools/m4/libtool.m4
cmakefiles/*

CMakeCache.txt
config.status
libtool
Makefile
Makefile.in
aclocal.m4
configure
config.log
*.zip

KitchenSink-Cs5.*
kitchensink*.tar.gz

do-build*
do-config*

/bin/.deps
/bin/.libs
/bin/*.o
/bin/src/
/bin/ui*.h
/bin/qrc*.cpp
/bin/Makefile
/bin/*.exe
/build/
/deploy/
/source_dist/
/src/ks_build_info.h

