*.o
*.exe
ui*.h
*.pro.user
object_script.*
.deps
.libs
/release
/autotools
/deploy
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/Makefile.*
/libtool
Makefile
Makefile.in
qrc_*.cpp