*_me.cpp
*.o
*.exe
ui*.h
*.pro.user
object_script.*
.deps
.libs
/bin/config.log
/release
/autotools
/deploy
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/libtool
Makefile.Release
Makefile
Makefile.in
qrc_*.cpp

